/*** 

====================================================================
		Call To Action
====================================================================

***/

.call-to-action{
    position: relative;
    z-index: 2;
}

.call-to-action .outer-box {
    position: relative;
    @include flex-between;
    background-color: var(--bg-theme-color2);
    padding: 60px 60px;
    &:before{
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: -15px;
        height: 15px;
        background-color: rgba(255,255,255, .10);
        content: "";
    }
}

.call-to-action .title-box {
    position: relative;
    max-width: 550px;
}

.call-to-action h2 {
    position: relative;
    display: block;
    font-size: 36px;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: 700;
}

.call-to-action h2 span {
    display: inline-block;
    color: #ffffff;
}

.call-to-action .btn-box {
    position: relative;
    .theme-btn:hover{
        color: var(--theme-color1);
    }
    .theme-btn:before{
        background-color: #ffffff;
    }
}

/*** 

====================================================================
		Call To Action Two
====================================================================

***/

.call-to-action-two{
    position: relative;
    z-index: 2;
    padding: 100px 0 120px;
    &::before{
        @include overlay;
        background-color: var(--bg-theme-color1);
        content: "";
        opacity: .85;
    }
    .sec-title .theme-btn{
        margin-top: 30px;
    }
}


