/*=== Default Form ===*/
.default-form {
    position: relative;
    .row {
        margin: 0 -10px;
    }
    .form-group {
        position: relative;
        padding: 0 10px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        label {
            position: relative;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-transform: capitalize;
            color: #070710;
        }
        input[type="text"] {
            position: relative;
            width: 100%;
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #444444;
            padding: 10px 20px;
            height: 50px;
            background: #FBFBFB;
            border: 1px solid rgba(0, 0, 0, 0.1);
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            &:focus {
                border-color: #328737;
            }
        }
        input[type="password"] {
            position: relative;
            width: 100%;
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #444444;
            padding: 10px 20px;
            height: 50px;
            background: #FBFBFB;
            border: 1px solid rgba(0, 0, 0, 0.1);
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
        }
        input[type="number"] {
            position: relative;
            width: 100%;
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #444444;
            padding: 10px 20px;
            height: 50px;
            background: #FBFBFB;
            border: 1px solid rgba(0, 0, 0, 0.1);
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
        }
        input[type="email"] {
            position: relative;
            width: 100%;
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #444444;
            padding: 10px 20px;
            height: 50px;
            background: #FBFBFB;
            border: 1px solid rgba(0, 0, 0, 0.1);
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            &:focus {
                border-color: #328737;
            }
        }
        input[type="url"] {
            position: relative;
            width: 100%;
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #444444;
            padding: 10px 20px;
            height: 50px;
            background: #FBFBFB;
            border: 1px solid rgba(0, 0, 0, 0.1);
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            &:focus {
                border-color: #328737;
            }
        }
        textarea {
            position: relative;
            width: 100%;
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #444444;
            padding: 10px 20px;
            height: 50px;
            background: #FBFBFB;
            border: 1px solid rgba(0, 0, 0, 0.1);
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            height: 140px;
            resize: none;
            padding-top: 15px;
            &:focus {
                border-color: #328737;
            }
        }
        select {
            position: relative;
            width: 100%;
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 28px;
            color: #444444;
            padding: 10px 20px;
            height: 50px;
            background: #FBFBFB;
            border: 1px solid rgba(0, 0, 0, 0.1);
            -webkit-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;
            background-image: url(../images/icons/icon-select.png);
            background-position: center right;
            background-repeat: no-repeat;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            &:focus {
                border-color: #328737;
            }
        }
        input[type="submit"] {
            position: relative;
            display: inline-block;
            min-width: 200px;
        }
        button {
            position: relative;
            display: inline-block;
            min-width: 200px;
        }
        .icon {
            position: absolute;
            right: 20px;
            bottom: 0;
            color: #9fa9b8;
            font-size: 14px;
            line-height: 54px;
        }
    }
    input.error {
        &:focus {
            border-color: #ff0000;
        }
    }
    select.error {
        &:focus {
            border-color: #ff0000;
        }
    }
    textarea.error {
        &:focus {
            border-color: #ff0000;
        }
    }
    label.error {
        display: block;
        font-weight: 500;
        font-size: 13px;
        text-transform: capitalize;
        line-height: 24px;
        color: #ff0000;
        margin-bottom: 0;
    }
}